<% unless Follower.exists?(follower_id: current_user, person_id: user ) %>
<% state_text = "Follow" %>
<% state = "open" %>
<% else %>
<% state_text = "Unfollow" %>
<% state = "close" %>
<% end %>

<tr>
	<td>
		<%= image_tag user.image.url(:avatar) %>
		<%= link_to user.email, user_path(user) %>
	</td>
	<td>
		<% if user == current_user %>
			<h4>It is your profile</h4>
		<% elsif current_user != nil %>
		<%= link_to followers_path(follow: {person_id: user, follower_id: current_user}), method: :post, class: "btn btn-primary" do %>
		<%= state_text %> <i class="glyphicon glyphicon-eye-<%=state%>"></i>
		<% end %>
		<% else %>
		<%= link_to "Follow", new_user_session_path, class: 'btn btn-primary' %>
		<% end %>
	</td>
</tr>