<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="twPc-div">
				<a class="twPc-bg twPc-block"></a>

				<div>
					<div class="twPc-button">
						<% if @user == current_user %>
						<%= link_to "Change info", edit_user_path(@user), class: 'btn btn-primary' %>
						
						<button class="btn btn-primary smpl" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
							New photo
						</button>
						<% end %>
						<% unless Follower.exists?(follower_id: current_user, person_id: @user ) %>
							<% state_text = "Follow" %>
							<% state = "open" %>
						<% else %>
							<% state_text = "Unfollow" %>
							<% state = "close" %>
						<% end %>
						<% if @user == current_user %>
						<% elsif current_user != nil %>
						<%= link_to followers_path(follow: {person_id: @user, follower_id: current_user}), method: :post, class: "btn btn-primary" do %>
						<%= state_text %> <i class="glyphicon glyphicon-eye-<%=state%>"></i>
						<% end %>
						<% else %>
						<%= link_to "Follow", new_user_session_path, class: 'btn btn-primary' %>
						<% end %>
					</div>
					
					<%= image_tag @user.image.url(:avatar), class: "twPc-avatarLink" %>					

					<div class="twPc-divUser">
						<div class="twPc-divName">
							<%= link_to @user.name + " " + @user.surname if @user.name != nil && @user.surname != nil %>
						</div>
						<span>
							<%= link_to @user.email %>
						</span>
					</div>

					<div class="twPc-divStats">
						<ul class="twPc-Arrange">
							<li class="twPc-ArrangeSizeFit">
								<a>
									<span class="twPc-StatLabel twPc-block">Posts</span>
									<span class="twPc-StatValue"><%= @user.photos.count %></span>
								</a>
							</li>
							<li class="twPc-ArrangeSizeFit">
								<a>
									<span class="twPc-StatLabel twPc-block">Following</span>
									<span class="twPc-StatValue"><%= @user.following.count %></span>
								</a>
							</li>
							<li class="twPc-ArrangeSizeFit">
								<a>
									<span class="twPc-StatLabel twPc-block">Followers</span>
									<span class="twPc-StatValue"><%= @user.followers.count %></span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<% if user_signed_in? %>
			<div class="collapse" id="collapseExample">
				<div class="well">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<%= simple_form_for @user.photos.build do |f| %>
								<div>
									<%= f.file_field :image, required: true %>
								</div>
								<br>
								<div>
									<%= f.button :submit %>
								</div>
								<% end %>
							</div>
						</div>
					</div>   
				</div>
			</div>
			<% end %>

			<div class="feed-photo">
				<% @user.photos.each do |photo| %>
				<%= render photo unless photo.id.nil? %>
				<% end %>
			</div>
		</div>
	</div>
</div>