<div class="thumbnail postOne" >
	<div class="row postTop">
		<div class="col-md-8">
			<%= image_tag photo.user.image.url(:avatar), class: "img-circle", size: "60x60" %>
			<%= link_to photo.user.name + " " + photo.user.surname, user_path(photo.user) %>
		</div>
	</div>		

	<% unless Like.exists?(user_id: current_user, photo_id: photo) %>
		<% button_class = "btn btn-default" %>
		<% glyphicon = "glyphicon glyphicon-heart-empty" %>
	<% else %>
		<% button_class = "btn btn-primary" %>
		<% glyphicon = "glyphicon glyphicon-heart" %>
	<% end %>
	
	<%= image_tag photo.image %>
	<div class="caption">
		<p>
			<%= link_to likes_path(like: {user_id: current_user, photo_id: photo}), method: :post, class: button_class do %>
			Like <i class="<%= glyphicon %>"></i>
			<%= photo.likes.count.to_s %>
			<% end %>

			<button class="btn btn-default smpl" type="button" data-toggle="collapse" data-target="#comment<%= photo.id %>" aria-expanded="false" aria-controls="collapseExample">
				Comment
			</button>
		</p>
	</div>
</div>

<div class="collapse" id="comment<%= photo.id %>">
	<div class="well">
		<%= render photo.comments %>
		<%= "No comments yet" if photo.comments.count == 0 %>
	</div>
	<% if user_signed_in? %>
	<div class="well">
		<%= simple_form_for [photo.comments.build] do |f| %>
			<%= f.input :body %>
			<%= f.hidden_field :user_id, value: current_user.id %>
			<%= f.hidden_field :photo_id, value: photo.id %>
			<%= f.button :submit %>
		<% end %>
	</div>
	<% end %>
</div>