<!DOCTYPE html>
<html>
<head>
	<title>Insta</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<%= link_to root_path do %>
				  <%= image_tag '/logo.png', class: "menu-icon" %>
				<% end %>
			</div>

			<ul class="nav navbar-nav navbar-left">
				<li><%= link_to 'Feed', photos_path %></li>
				<li><%= link_to 'Users', users_path %></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
					<li><%= link_to 'Profile', user_path(current_user) %></li>
					
				<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Change info", edit_user_path(current_user) %></li>
            <li><%= link_to('Edit registration', edit_user_registration_path) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
          </ul>
        </li>
				<% else %>
					<li><%= link_to('Login', new_user_session_path) %></li>
				<% end %>
				</ul>
		</div>
	</nav>

	<div class="container">
		<%= yield %>
	</div>
	

</body>
</html>
